.aboutus-h2 {
	font-size: 40px;
	margin-bottom: 40px;
}

.aboutus-p {
	font-size: 25px;
}

.aboutus-ul {
	line-height: 50px;
	font-size: 18px;
}

.aboutus-h3 {
	font-size: 35px;
	margin-bottom: 35px;
}

.aboutus-h4 {
	font-size: 30px;
}