
body {
	padding: 0;
	margin: 0;
	width: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url("../images/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 150px;
	background-color: black;
}

.header-nav-btn {
	color: white;
}

.footer-nav-btn {
	color: white;
}

.header-nav-btn:hover {
	color: silver;
}

.footer-nav-btn:hover {
	color: silver;
}

.info_box {
	border: .5px solid cyan;
	text-align: center;
	padding: 0.5em;
}

.info_box > ul {
	text-align: left;
	list-style: circle inside;
	padding: 0.5em;
}

.info_box > ul > li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.info_box > ul > li > a {
	color: white;
	text-decoration: none;
}

.info_box > ul > li > a:hover {
	color: silver;
}

.container {
	color: white;
}
