extends layout

block listArticle
  div.container
    div.row
      div(style='text-align: center').col-12
        h2 Hello #{member}  -- 
          if type == '1'
            span Your Article
          else
            span All Article
    div.row
      div.col-12.card
        each item in data
          div(style='margin-top: 20px').card
            div.card-header.bg-secondary
              h3= item.Title
            div.card-body.bg-light
              pre= item.Content
    div.row
      div.col-12
        button(type='button', onclick=" javascript: location.href='/addArticle'; ").btn.btn-primary.col-6 Add Article
        button(type='button', onclick=" javascript: location.href='/'; ").btn.btn-primary.col-6 Home
