extends layout

block login
  div(style='text-align: center').container
    div(style='height: 100%; width: 40%; margin: 0 auto')
      div.login_box
        img(src='images/logo.jpg', height='200px')
      div.login_box
        h1 登入
      div.login_box
        form(method='POST' action='/login')
          div.form-group
            input(type='text', id='username', name='username', placeholder='帳號').form-control.form-control-lg
          div(style='margin: 30px auto').form-group
            input(type='password', id='password', name='password', placeholder='密碼').form-control.form-control-lg
          div.form-group
              button(type='submit', style='width: 100%').btn.btn-dark.btn-lg 確認
      div.row.login_box
        div.col-sm-6
          a(href='/')
            | 忘記密碼
        div.col-sm-6
          a(href='/register')
            | 立即註冊
