extends layout

block add
  label Create
  hr
  form(method='POST' action='/add')
    table.list-edit
      tr
        th UserName
        td
          input(type='text' name='username').text
      tr
        th Password
        td
          input(type='password' name='pwd').text
      tr
        th Email
        td
          input(type='text' name='email').text
      tr
        td(colspan='2')
          button(type='submit').btn Submit
          button(type='button' onclick="javascript: location.href='/'; ").btn Back
