extends layout

block login
  label Login
  hr
  form(method='POST' action='/login')
    table.list-edit
      tr
        th UserName
        td
          input(type='text' name='username' placeholder='Username').text
      tr
        th Password
        td
          input(type='password' name='pwd' placeholder='Password').text
      tr
        td(colspan='2')
          button(type='submit').btn Login
          button(type='button' onclick="javascript: location.href='/'; ").btn Back
