extends layout

block addArticle
  div.container
    h2 Add Article
    p Welcome to Lord-of-Prediction
    form(method='POST' action='/addArticle')
      div.form-group
        label(for='title') Title:
        input(type='text', id='title', name='title').form-control
      div.form-group
        label(for='content') Content:
        textarea(rows='20', id='content', name='content').form-control
      div.form-group
        button(type='submit').btn.btn-primary.col-sm-6 Submit
        button(type='button', onclick="javascript: location.href='/'; ").btn.btn-primary.col-sm-6 Back
