extends layout

block editUser
  div.container
    div.row
      div.col-12
        div.input-group
          form(method='POST', action='/editUser')
            input(type='search', placeholder='Search').form-control.border-secondary.py-2
            div.input-group-append
              button(type='button').btn.btn-outline-secondary
                i.fa.fa-search
