extends layout

block editUser
  div.container
    div(id='custom-search-input')
      div.input-group
        input(type='text', placeholder='search').form-control.input-lg
        span.input-group-btn
          button.btn.btn-info.btn-lg
            i.glyphicon.glyphicon-search
