nav(style='padding: 10px 30px; position: absolute; bottom: 0; left: 0; width: 100%').navbar.bg-dark.navbar-dark.navbar-expand-sm.justify-content-center
  ul.navbar-nav
    li.nav-item.active.foot_nav
      a(href='/').nav-link
        | 常見問題
    li.nav-item.active.foot_nav
      a(href='/').nav-link
        | 連繫客服
    li.nav-item.active.foot_nav
      a(href='/').nav-link
        | 關於我們
