div(style='background-color: #080808; height: 150px; padding: 15px 0').jumborton
  div(style='width: 100%').row
    div.col-sm-10
      a(href='/', title='Home')
        img(src='/images/logo.jpg', height='100%', width='200px')
    div.col-sm-1
      table(style='line-height: 25px')
        tr
          td
            if log_status == true
              a(href='/', title='Profile')
                | #{member}
            else
              a(href='/login', title='Login')
                | 登入
        tr
          td
            if log_status == false
              a(href='/register', title='Register')
                | 註冊
            else
              a(href='/logout', title='Logout')
                | 登出
        tr
          td
            a(href='/', title='Contact')
              | 連繫客服
        tr
          td
            a(href='/', title='Shop')
              | 商城入口
    div.col-sm-1
      table(style='line-height: 25px')
        if log_status == true
          tr
            td
              a(href='/', title='Contact')
                | 個人小屋
          tr
            td
              a(href='/', title='Contact')
                | 儲值入口
          tr
            td
              a(href='/', title='Contact')
                | 購物車
          tr
            td
              a(href='/', title='Contact')
                | 訊息中心

          
nav(style='margin-bottom: 20px; padding: 10px 30px').navbar.bg-dark.navbar-dark.navbar-expand-sm
  ul.navbar-nav
    li.nav-item.active
      a(href='/').nav-link
        | 預測賽事
    li.nav-item.active
      a(href='/listArticle/?type=0').nav-link
        | 討論區
    li.nav-item.active
      a(href='/').nav-link
        | 小遊戲
    li.nav-item.active
      a(href='/').nav-link
        | 找高手
    li.nav-item.active
      a(href='/').nav-link
        | 即時比分
    li.nav-item.active
      a(href='/searchUser').nav-link
        | 用戶搜尋
    li.nav-item.active
      a(href='./').nav-link
        | 歷史數據
