extends layout

block index
  div(style='height: 600px')
    h1 Welcome to Lord-of-Prediction
    p hello #{member}
    if log_status == false
      a(href='/register').btn.btn-primary Register
      a(href='/login').btn.btn-primary Login
    else
      a(href='/logout').btn.btn-primary Logout
    a(href='/backstage').btn.btn-primary Backstage
    if log_status == true
      a(href='/addArticle').btn.btn-primary Add Article
    a(href='/listArticle/?type=1').btn.btn-primary List Article
    a(href='/listArticle/?type=0').btn.btn-primary List All Article
