extends layout

block index
  h1 Welcome to Lord-of-Prediction
  p hello #{member}
  if log_status == false
    a(href='/register').btn.btn-primary Register
    a(href='/login').btn.btn-primary Login
  else
    a(href='/logout').btn.btn-primary Logout
  a(href='/backstage').btn.btn-primary Backstage
