extends layout

block searchUser
  div.container
    div.row
      div.col-12
        div.input-group
          form(method='POST', action='searchUser', style='width: 100%')
            div.input-group-append
              input(type='search', placeholder='Search', name='search').form-control.border-secondary.py-2
              button(type='submit').btn.btn-outline-secondary
                i.fa.fa-search
    div(style='margin-top: 50px').row
      div.col-12
        if data.length == 0
          h3 很抱歉沒有此用戶！
        else
          table.table.table-striped.table-hover
            thead
              tr
                th
                th Nickname
                th Email
                th Gender
                th Username
            tbody
              each item in data
                tr
                  td
                    img(src='images/user_default.jpg', height='100px', width='100px')
                  td= item.Nickname
                  td= item.Email
                  td
                    if item.Gender == true
                      | 男
                    else
                      | 女
                  td= item.Username
